/* header */
.header {
	width: 100%;
	height: 132px;
	position: relative;
	padding: 35px 0 26px;
	/* background-color: #ccc; */
}
.header-cont {
	width: 1200px;
	margin: 0 auto;
}
.header-logo {
	width: 216px;
	height: 66px;
	float: left;
}
.header-logo a {
	width: 100%;
	height: 100%;
	display: block;
}
.header-logo a img {
	width: 100%;
}
.header-nav {
	float: left;
	width: 710px;
	height: 66px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	margin: 0 20px;
}
.header-nav li {
	width: 80px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
}
.header-nav li.cur a {
	color: #5c88c9;
}

.header-nav li:hover a {
	color: #5c88c9;
}

.header-dp button {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	padding: 0;
}
.header-dp button:focus, .header-dp button:active {
	outline: none !important;
	box-shadow: none !important;
}

.dropdown-menu {
	min-width: 100px;
	width: 100%;
}

.header-nav .dropdown-menu li {
	width: 100%;
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 10px;
	font-size: 18px;
}
.header-nav li:hover .header-dp button {
	color: #5c88c9;
}
.header-nav li:hover .header-dp a {
	color: #333;
}
.header-telBox {
	display: block;
	width: 218px;
	height: 66px;
	border: 1px solid #d2e3e8;
	padding: 15px 0 0 10px;
	overflow: hidden;
}
.header-icon1 {
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 15px;
}
.header-telTips,.header-telNum {
	font-size: 18px;
	color: #5c88c9;
	font-weight: 700;
	margin: 0;
}
.header-telTips {
	margin-top: -8px;
}
.header-menuBtn {
	display: none;
}
/* banner */
.home-banner {
	width: 100%;
}
.swiper-container-banner {
	width: 100%;
}

.swiper-container-banner .swiper-slide img {
	width: 100%;
}
.banner-prev {
	background: url(../images/btn_prev.png) no-repeat 0 0 / 100% 100%;
	width: 69px;
	height: 69px;
	transform: scale(1);
}

.banner-next {
	background: url(../images/btn_next.png) no-repeat 0 0 / 100% 100%;
	width: 69px;
	height: 69px;
	transform: scale(1);
}
.banner-prev::after, .banner-next::after {
	display: none;
}
.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	margin: 0 8px !important;
}
.home-nav {
	width: 100%;
	margin-top: 40px;
}
.w-lg {
	width: 1200px;
	margin: 0 auto;
}
.home-navCon {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.home-navLi {
	width: 240px;
	height: 128px;
	padding: 20px 0 0 15px ;
	border: 2px solid #d2e3e8;
	transform: scale(1);
}
.home-navIcon {
	float: left;
	width: 64px;
	margin-right: 10px;
}
.home-navTitle {
	color: #5c88c9;
	font-size: 18px;
	font-weight: 700;
}
.home-navInfo {
	color: #a4a4a4;
	font-size: 14px;
}
.home-navLink {
	display: inline-block;
	width: 114px;
	height: 30px;
	background-color: #5c88c9;
	color: #fff;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	margin-top: 18px;
	margin-left: 0px;
}
.home-navLink:hover {
	color: #ccc;
}
.home-content1 {
	margin-top: 40px;
	width: 100%;
}
.home-company {
	height: 332px;
}
.home-company-header, .home-news-header, .home-production-header {
	width: 100%;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
}
.home-company-header-title, .home-news-header-title, .home-production-header-title {
	float: left;
	color: #000;
	font-weight: 700;
	font-size: 24px;
}
.home-company-header-more, .home-news-header-more, .home-production-header-more {
	float: right;
	color: #555;
}
.home-company-con-img {
	width: 279px;
	float: left;
	margin: 0 24px 20px 0;
}
.home-company-con-info {
	color: #606060;
	line-height: 1.5;
}
.home-news {
	padding-left: 68px;
}
.home-news-header {
	border-bottom: 1px dashed #ccc;
}
.home-news-con {
	height: 278px;
}
.home-news-conLi {
	width: 100%;
	height: 55px;
	border-bottom: 1px dashed #ccc;
	line-height: 55px;
	font-size: 16px;
}
.home-news-conLi a {
	display: block;
	width: 100%;
	height: 100%;
}
.home-news-conLi span{
	display: inline-block;
	overflow: hidden;
}
.home-news-conLi .home-news-conLi-title {
	width: 368px;
  color: #494949;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home-news-conLi .home-news-conLi-icon {
	color: #0083cc;
	height: 100%;
	padding-left: 10px;
	line-height: 55px;
	font-size: 12px;
}
.home-news-conLi-time {
	float: right;
	padding-right: 10px;
}
.home-news-conLi a:hover span {
	color: #0083cc;
}
.home-content2 {
	margin-top: 36px;
}
.home-production-header {
	padding: 0 10px;
}
.home-production-conLi a {
	display: block;
	width: 100%;
	height: 100%;
}
.home-production-conLi a img {
	width: 284px;
}
.home-production-conLi a span {
	display: block;
	margin: 20px auto 0;
	width: 90%;
	text-align: center;
	font-size: 16px;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home-production-conLi a:hover span {
	color: #0083cc;
}
/* footer */
.footer {
	margin-top: 66px;
	width: 100%;
	height: 382px;
}
.footer-top {
	background-color: #373737;
	height: 296px;
}
.footer-bottom {
	background-color: #292929;
	height: 85px;
}
.footer-top-left {
	position: relative;
	overflow: hidden;
	padding-left: 30px;
	text-align: left;
}
.footer-p-company1 {
	font-size: 28px !important;
	color: #fff !important;
	font-weight: 700;
	margin-top: 70px !important;
}
.footer-p-company2 {
	font-size: 14px !important;
	color: #727272 !important;
}
.footer-p-address {
	color: #dddddd;
	margin-top: 24px !important;
}
.footer-top-left p {
	margin-top: 5px;
	color: #dddddd;
	font-size: 14px;
}
.footer-qr {
	margin-top: 90px;
	display: flex;
	justify-content: space-around;
}
.footer-qr li {
	width: 134px;
}
.footer-qr li img {
	width: 100%;
}
.footer-qr li span {
	display: block;
	width: 100%;
	font-size: 12px;
	color: #dddddd;
	text-align: center;
	line-height: 2;
}
.footer-bottom {
	padding-top: 30px;
}
.footer-bottom p {
	text-align: center;
	line-height: 1.5;
	color: #727272;
	font-size: 14px;
}

/* 联系我们 */
.c-banner {
	width: 100%;
	overflow: hidden;
}
.c-banner img {
	width: 100%;
}
.c-con {
	padding-bottom: 30px;
}
.c-con .w-lg {
	padding: 0 20px;
	overflow: hidden;
}
.c-title {
	border-bottom: 2px solid #cfcfcf;
	padding: 60px 5px 15px;
	overflow: hidden;
	font-size: 30px;
	margin-bottom: 20px;
}
.c-company1 {
	font-weight: 600;
	color: #777;
	font-size: 24px;
}
.c-company2 {
	font-size: 23px;
	margin-bottom: 20px;
}
.c-address, .c-phone, .c-email, .c-tel, .c-ali {
	font-size: 22px;
	color: #777;
	padding: 5px;
}
#dituContent {
	width:100%;
	height:400px;
	border:#ccc solid 1px;
}
/* 关于我们 */
.com-con {
	margin-top: 10px;
	padding-bottom: 30px;
}
.com-con .w-lg {
	padding: 0 20px;
	overflow: hidden;
}
.com-left-con {
	background: #f3f3f3;
	padding-bottom: 50px;
}
.com-left h1 {
	width: 100%;
	background: -webkit-gradient(linear,0 0,0 bottom,from(#f7f7f7),to(#dfdfdf));
	text-align: center;
	padding: 30px 0;
	margin-bottom: 15px;
}
.com-left h1 em {
	display: block;
	color: #0083cc;
	font-size: 20px;
	font-weight: 700;
	font-style: normal;
}
.com-left h1 i {
	display: block;
	color: #848484;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
}
.com-left li {
	text-align: center;
	width: 100%;
}
.com-left li a {
	font-size: 20px;
	color: #686868;
	margin: 0 5px;
	display: block;
	border-bottom: 1px dashed #b0b0b0;
	padding: 30px 0 20px;
	position: relative;
}
.com-left li i {
	font-size: 16px;
	display: none;
	color: #0083cc;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-20%);
}

.com-left li:hover a {
	color: #0083cc;
}

.com-left li.cur a {
	color: #0083cc;
}
.com-left li.cur i {
	display: inline-block;
}

.com-right-title {
	border-bottom: 3px solid #e7e7e7;
	padding: 15px 0;
}

.com-right-title span {
	color: #0083cc;
	font-weight: 700;
	border-bottom: 3px solid #0083cc;
	padding: 0 10px 15px;
	font-size: 20px;
}
.com-right-con {
	padding: 10px;
	margin-top: 10px;
}
.com-right-con p {
	font-size: 16px;
}
/* 新闻列表 */
.nl-news-con {
	/* height: 278px; */
}
.nl-news-conLi {
	width: 100%;
	height: 55px;
	border-bottom: 1px dashed #ccc;
	line-height: 55px;
	font-size: 16px;
}
.nl-news-conLi a {
	display: block;
	width: 100%;
	height: 100%;
}
.nl-news-conLi span{
	display: inline-block;
	overflow: hidden;
}
.nl-news-conLi .nl-news-conLi-title {
	width: 368px;
  color: #494949;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nl-news-conLi .nl-news-conLi-icon {
	color: #0083cc;
	height: 100%;
	padding-left: 10px;
	line-height: 50px;
	font-size: 12px;
}
.nl-news-conLi-time {
	float: right;
	padding-right: 10px;
}
.nl-news-conLi a:hover span {
	color: #0083cc;
}
/* 产品列表 */
.pl-right-type {
	margin-top: 10px;
	background-color: #e7e7e7;
	padding: 15px 30px;
	overflow: hidden;
}
.pl-right-type ul li {
	font-size: 18px;
	text-align: center;
	padding: 0 20px;
	float: left;
	border-right: 2px solid #000;
	cursor: pointer;
}
.pl-right-type ul li:last-child {
	border-right: none;
}

.pl-right-type ul li:hover {
	color: #0083cc;
}
.pl-right-type ul li.cur {
	color: #0083cc;
}
.pl-right-con ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pl-right-con ul li {
	width: 30%;
	padding: 10px;
	overflow: hidden;
}
.pl-right-con ul li a {
	display: block;
	width: 100%;
}
.pl-right-con ul li a img {
	width: 100%;
	border: 1px solid #ccc;
}

.pl-right-con ul li a span {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}