/* header */
.header {
	width: 100%;
	/* height: 1rem; */
	position: relative;
	padding: 0.15rem;
}
.header-cont {
	width: 100%;
	margin: 0 auto;
}
.header-logo {
	width: 1.8rem;
	height: 0.66rem;
	float: left;
}
.header-logo a {
	width: 100%;
	height: 100%;
	display: block;
}
.header-logo a img {
	width: 100%;
}
.header-nav {
	background-color: #fff;
	width: 100%;
	float: left;
	overflow: hidden;
	height: 0;
	transition: all 0.5s ease;
}
.header-nav.cur {
	/* display: block; */
	height: 4rem;
}
.header-nav li {
	width: 100%;
	height: 0.6rem;
	font-size: 0.36rem;
	line-height: 0.6rem;
	margin-top: 0.1rem;
}
.header-nav li.cur a {
	color: #5c88c9;
}

.header-nav li:hover a {
	color: #5c88c9;
}
.header-nav li:last-child {
	display: none;
}
.header-dp button {
	font-size: 0.36rem;
	line-height: 0.6rem;
	text-align: center;
	padding: 0;
}
.header-dp button:focus, .header-dp button:active {
	outline: none !important;
	box-shadow: none !important;
}

.dropdown-menu {
	min-width: 0;
	width: 1.6rem;
}

.header-nav .dropdown-menu li {
	width: 100%;
}
.dropdown-menu>li>a {
	display: block;
	padding: 0.03rem 0.15rem;
	font-size: 0.3rem;
}
.header-nav li:hover .header-dp button {
	color: #5c88c9;
}
.header-nav li:hover .header-dp a {
	color: #333;
}
.header-telBox {
	display: none;
	width: 218px;
	height: 66px;
	border: 1px solid #d2e3e8;
	padding: 15px 0 0 10px;
	overflow: hidden;
}
.header-icon1 {
	width: 34px;
	height: 34px;
	float: left;
	margin-right: 15px;
}
.header-telTips,.header-telNum {
	font-size: 18px;
	color: #5c88c9;
	font-weight: 700;
	margin: 0;
}
.header-telTips {
	margin-top: -8px;
}
.header-menuBtn  {
	float: right;
	width: 0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size: 0.5rem;
	cursor: pointer;
}
/* banner */
.home-banner {
	width: 100%;
}
.swiper-container-banner {
	width: 100%;
}

.swiper-container-banner .swiper-slide img {
	width: 100%;
}
.banner-prev {
	background: url(../images/btn_prev.png) no-repeat 0 0 / 100% 100%;
	width: 0.69rem;
	height: 0.69rem;
	transform: scale(.5);
}

.banner-next {
	background: url(../images/btn_next.png) no-repeat 0 0 / 100% 100%;
	width: 0.69rem;
	height: 0.69rem;
	transform: scale(.5);

}
.banner-prev::after, .banner-next::after {
	display: none;
}
.swiper-pagination-bullet {
	width: 0.16rem;
	height: 0.16rem;
	margin: 0 8px !important;
}
/* 导航 */
.home-nav {
	width: 100%;
	margin-top: 0.4rem;
}
.w-lg {
	width: 100%;
	margin: 0 auto;
}
.home-navCon {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-wrap: wrap;
}
.home-navLi {
	width: 48%;
	padding: 0.2rem 0 0 0.5rem;
	border: 2px solid #d2e3e8;
	margin-bottom: 0.2rem;
	/* transform: scale(0.96); */
}
.home-navIcon {
	float: left;
	width: 0.64rem;
	margin-right: 0.2rem;
}
.home-navTitle {
	color: #5c88c9;
	font-size: 0.24rem;
	font-weight: 700;
}
.home-navInfo {
	color: #a4a4a4;
	font-size: 0.18rem;
}
.home-navLink {
	display: inline-block;
	width: 1.02rem;
	height: 0.3rem;
	background-color: #5c88c9;
	color: #fff;
	font-weight: 700;
	line-height: 0.3rem;
	text-align: center;
	font-size: 0.2rem;
	margin-bottom: 0.2rem;
}
.home-navLink:hover {
	color: #ccc;
}
.home-content1 {
	margin-top: 0.4rem;
	width: 100%;
}
.home-company {
	/* height: 2.81rem; */
}
.home-company-header, .home-news-header, .home-production-header {
	width: 100%;
    height: 0.55rem;
    line-height: 0.55rem;
	overflow: hidden;
}
.home-company-header-title, .home-news-header-title, .home-production-header-title {
	float: left;
	color: #000;
	font-weight: 700;
	font-size: 0.28rem;
}
.home-company-header-more, .home-news-header-more, .home-production-header-more {
	float: right;
	color: #555;
	font-size: 0.28rem;
}
.home-company-con {
	width: 95%;
	margin: 0 auto;
	height: 7rem;
  overflow: hidden;
}
.home-company-con-img {
	display: block;
	width: 95%;
	margin: 0 auto 0.2rem;
}
.home-company-con-info {
	color: #606060;
	line-height: 1.5;
	font-size: 0.2rem;
}
.home-news {
	padding-left: 15px;
}
.home-news-header {
	border-bottom: 1px dashed #ccc;
}
.home-news-con {
	/* height: 278px; */
}
.home-news-conLi {
	width: 100%;
	height: 0.55rem;
	border-bottom: 1px dashed #ccc;
	line-height: 0.55rem;
	font-size: 0.18rem;
}
.home-news-conLi a {
	display: block;
	width: 100%;
	height: 100%;
}
.home-news-conLi span{
	display: inline-block;
	overflow: hidden;
}
.home-news-conLi .home-news-conLi-title {
	width: 4rem;
  color: #494949;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home-news-conLi .home-news-conLi-icon {
	color: #0083cc;
	height: 100%;
	padding-left: 0.1rem;
	line-height: 0.55rem;
	font-size: 0.12rem;
}
.home-news-conLi-time {
	float: right;
	padding-right: 0.1rem;
}
.home-news-conLi a:hover span {
	color: #0083cc;
}
.home-content2 {
	margin-top: 0.4rem;
}
.home-production-con {
	margin: 0;
}
.home-production-header {
	padding: 0 15px;
}
.home-production-conLi {
	padding-bottom:  0.2rem;
}
.home-production-conLi a {
	display: block;
	margin: 0 auto;
	width: 95%;
	height: 100%;
}
.home-production-conLi a img {
	width: 100%;
}
.home-production-conLi a span {
	display: block;
	margin: 0.2rem auto 0;
	width: 95%;
	text-align: center;
	font-size: 0.18rem;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home-production-conLi a:hover span {
	color: #0083cc;
}
/* footer */
.footer {
	margin-top: 0.4rem;
	width: 100%;
	/* height: 382px; */
}
.footer-top {
	background-color: #373737;
	height: auto;
	padding-bottom: 0.1rem;
}
.footer-bottom {
	background-color: #292929;
	height: 0.85rem;
}
.footer-top-left {
	position: relative;
	overflow: hidden;
	padding-left: 15px;
	text-align: center;
}
.footer-p-company1 {
	font-size: 0.28rem !important;
	color: #fff !important;
	font-weight: 700;
	margin-top: 0.7rem !important;
}
.footer-p-company2 {
	font-size: 0.14rem !important;
	color: #727272 !important;
}
.footer-p-address {
	color: #dddddd;
	margin-top: 0.24rem !important;
}
.footer-top-left p {
	margin-top: 0.05rem;
	color: #dddddd;
	font-size: 0.14rem;
}
.footer-qr {
	margin-top: 0.4rem;
	display: flex;
	justify-content: space-around;
}
.footer-qr li {
	width: 30%;
}
.footer-qr li img {
	width: 100%;
}
.footer-qr li span {
	display: block;
	width: 100%;
	font-size: 0.14rem;
	color: #dddddd;
	text-align: center;
	line-height: 2;
}
.footer-bottom {
	padding-top: 0.3rem;
}
.footer-bottom p {
	text-align: center;
	line-height: 1.5;
	color: #727272;
	font-size: 0.14rem;
}
/* ???? */
.c-banner {
	width: 100%;
	overflow: hidden;
}
.c-banner img {
	width: 100%;
}
.c-con {
	padding-bottom: 0.3rem;
}
.c-con .w-lg {
	padding: 0 0.2rem;
	overflow: hidden;
}
.c-title {
	border-bottom: 2px solid #cfcfcf;
	padding: 0.6rem 0.05rem 0.15rem;
	overflow: hidden;
	font-size: 0.3rem;
	margin-bottom: 0.2rem;
}
.c-left {
	padding-bottom: 0.2rem;
}
.c-company1 {
	font-weight: 600;
	color: #777;
	font-size: 0.24rem;
}
.c-company2 {
	font-size: 0.22rem;
	margin-bottom: 0.2rem;
}
.c-address, .c-phone, .c-email, .c-tel, .c-ali {
	font-size: 0.2rem;
	color: #777;
	padding: 0.05rem;
}
#dituContent {
	width: 100%;
	height: 4rem;
	border:#ccc solid 1px;
}

/* ???? */
.com-con {
	margin-top: 0.1rem;
	padding-bottom: 0.3rem;
}
.com-con .w-lg {
	padding: 0 0.2rem;
	overflow: hidden;
}

.com-right-title {
	border-bottom: 3px solid #e7e7e7;
	padding: 0.15rem 0;
	text-align: right;
}
.com-right-title .com-sideBar-btn {
	cursor: pointer;
	float: left;
	font-size: 0.3rem;
	margin-left: 0.1rem;
	color: #666;
}
.com-right-title span {
	color: #0083cc;
	font-weight: 700;
	border-bottom: 3px solid #0083cc;
	padding: 0 0.1rem 0.15rem;
	font-size: 0.2rem;
}
.com-right-con {
	padding: 0.1rem;
	margin-top: 0.1rem;
}
.com-right-con p {
	font-size: 0.16rem;
}

.com-sideBar-mask {
	display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1090;
  background: rgba(0,0,0,.15);
}
.com-sideBar-mask.cur {
	display: block;
}

.com-sideBar-con  {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1091;
	width: 3rem;
	max-width: 100%;
	background: #333;
	overflow-y: auto;
	transform: translateX(-100%);
	transition: transform .3s ease-in-out;
	padding: 0 0.1rem;
}

.com-sideBar-con.cur {
	transform: translateX(0);
}

.com-sideBar-con li {
	text-align: center;
	width: 100%;
}
.com-sideBar-con li a {
	font-size: 0.2rem;
	color: #686868;
	margin: 0 0.05rem;
	display: block;
	border-bottom: 1px dashed #b0b0b0;
	padding: 0.3rem 0 0.2rem;
	position: relative;
}
.com-sideBar-con li i {
	font-size: 0.16rem;
	display: none;
	color: #0083cc;
	position: absolute;
	right: 0.2rem;
	top: 50%;
	transform: translateY(-20%);
}

.com-sideBar-con li:hover a {
	color: #0083cc;
}

.com-sideBar-con li.cur a {
	color: #0083cc;
}
.com-sideBar-con li.cur i {
	display: inline-block;
}
/* ???? */
.nl-news-con {
	/* height: 278px; */
}
.nl-news-conLi {
	width: 100%;
	height: 0.55rem;
	border-bottom: 1px dashed #ccc;
	line-height: 0.55rem;
	font-size: 0.18rem;
}
.nl-news-conLi a {
	display: block;
	width: 100%;
	height: 100%;
}
.nl-news-conLi span{
	display: inline-block;
	overflow: hidden;
}
.nl-news-conLi .nl-news-conLi-title {
	width: 4rem;
  color: #494949;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nl-news-conLi .nl-news-conLi-icon {
	color: #0083cc;
	height: 100%;
	padding-left: 0.1rem;
	line-height: 0.5rem;
	font-size: 0.12rem;
}
.nl-news-conLi-time {
	float: right;
	padding-right: 0.1rem;
}
.nl-news-conLi a:hover span {
	color: #0083cc;
}
/* ???? */
.pl-right-type {
	margin-top: 0.1rem;
	background-color: #e7e7e7;
	padding: 0.15rem 0.15rem;
	overflow: hidden;
}
.pl-right-type ul li {
	font-size: 0.18rem;
	text-align: center;
	padding: 0 0.1rem;
	float: left;
	border-right: 2px solid #000;
	cursor: pointer;
}
.pl-right-type ul li:last-child {
	border-right: none;
}

.pl-right-type ul li:hover {
	color: #0083cc;
}
.pl-right-type ul li.cur {
	color: #0083cc;
}
.pl-right-con ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pl-right-con ul li {
	width: 30%;
	padding: 0.1rem;
	overflow: hidden;
}
.pl-right-con ul li a {
	display: block;
	width: 100%;
}
.pl-right-con ul li a img {
	width: 100%;
	border: 1px solid #ccc;
}

.pl-right-con ul li a span {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 0.1rem;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
